<section class="spotlight">
	<% if Work.top_media != nil %>
	<h2>
		<span style="spotlight__header--prefix">Media Spotlight:</span> <%= link_to Work.top_media.title, class: 'spotlight__link-to' %>
		by <%= Work.top_media.creator %>
	</h2>
	<p>
		<em><%= Work.top_media.vote_count%> votes</em> - <%= Work.top_media.description %>
	</p>
	<% else %>
	<h2>No medias added.</h2>
	<% end %>
</section>

<section class="top-ten__container">
	<%= render partial: "top_of_homepage", locals: { collection: Work.top_movies, collection_name: 'Top Movies' } %>
	<%= render partial: "top_of_homepage", locals: { collection: Work.top_books, collection_name: 'Top Books' } %>
	<%= render partial: "top_of_homepage", locals: { collection: Work.top_albums, collection_name: 'Top Albums' } %>
</section>