<%= form_with model: @work  do |f| %>
	<div class="form">
		<% if @work.errors.any? %>
			<ul>
				<% @work.errors.each do |column, message| %>
					<li>
						<%= column.capitalize %> <%= message %>.
					</li>
				<% end %>
			</ul>
		<% end %>

		<section class="form-group">
			<%= f.label :title %><br>
			<%= f.text_field :title, class: 'form-control' %>
		</section>
		<section class="form-group">
			<%= f.label :creator %><br>
			<%= f.text_field :creator, class: 'form-control' %>
		</section>
		<section class="form-group">
			<%= f.label :publication_year %><br>
			<%= f.text_field :publication_year, class: 'form-control' %>
		</section>
		<section class="form-group">
			<%= f.label :description %><br>
			<%= f.text_field :description, class: 'form-control' %>
		</section>
		<section class="form-group">
			<%= f.label :category %><br>
				<%= f.label :category, "Movie", :value => "movie"  %>
				<%= f.radio_button :category, "movie" %>
				<%= f.label :category, "Book", :value => "book"  %>
				<%= f.radio_button :category, "book" %>
				<%= f.label :category, "Album", :value => "album"  %>
				<%= f.radio_button :category, "album" %>
		</section>
		<section>
			<%= f.submit 'Add New Work', class: 'btn-secondary' %>
		</section>
	</div>
<% end %>