<h2>All Works</h2>

<section>
	<h3>Movies</h3>

	<table>
		<tr>
			<th>Title</th>
			<th>Creator</th>
			<th>Publication Year</th>
			<th>Description</th>
		</tr>

			<% @movies.each do |movie| %>
				<tr>
					<td>
						<%= link_to movie.title, work_path(movie) %>
					</td>
					<td>
						<%= movie.creator %>
					</td>
					<td>
						<%= movie.publication_year %>
					</td>
					<td>
						<%= movie.description %>
					</td>
				</tr>

			<% end %>

	</table>
</section>

<section>
	<h3>Books</h3>

	<table>
		<tr>
			<th>Title</th>
			<th>Creator</th>
			<th>Publication Year</th>
			<th>Description</th>
		</tr>

			<% @books.each do |book| %>
				<tr>
					<td>
						<%= link_to book.title, work_path(book) %>
					</td>
					<td>
						<%= book.creator %>
					</td>
					<td>
						<%= book.publication_year %>
					</td>
					<td>
						<%= book.description %>
					</td>
				</tr>

			<% end %>

	</table>
</section>

<section>
	<h3>Albums</h3>

	<table>
		<tr>
			<th>Title</th>
			<th>Creator</th>
			<th>Publication Year</th>
			<th>Description</th>
		</tr>

			<% @albums.each do |album| %>
				<tr>
					<td>
						<%= link_to album.title, work_path(album) %>
					</td>
					<td>
						<%= album.creator %>
					</td>
					<td>
						<%= album.publication_year %>
					</td>
					<td>
						<%= album.description %>
					</td>
				</tr>

			<% end %>

	</table>
</section>