<h2><%= @work.title %></h2>
<ul>
	<li><strong><%= @work.vote_count %> votes</strong></li>
	<li><strong>Created By: </strong><%= @work.creator %></li>
	<li><strong>Published: </strong><%= @work.publication_year %></li>
	<li><strong>Description: </strong><br><%= @work.description %></li>
</ul>

<ul class="nav">
	<li class="nav-item">
		<%= link_to "Upvote", work_votes_path(@work), method: :post, class: 'nav-link' %>
	</li>
	<li class="nav-item">
		<%= link_to "Edit", edit_work_path(@work), class: 'nav-link' %>
	</li>
	<li class="nav-item">
		<%= link_to 'Delete', work_path(@work), method: :delete, data: {confirm: "Are you sure?"}, class: 'nav-link' %>
	</li>
</ul>